/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-inline: var(--inline-page-padding);
  padding-block: var(--inline-block-padding);
}

.title-decor {
  background-color: var(--accent-color);
}

.header {
  display: grid;
  margin-block-end: 52px;
  min-block-size: 650px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-elements-color);
  border-block-start: 1px solid var(--decor-elements-color);
}

.decorated-zone::before  {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-elements-color);
  border-block-end: 1px solid var(--decor-elements-color);
}

.header__rec {
  position: relative;
  justify-self: end;
  margin-inline-end: 25px;
  text-transform: uppercase;
  color: var(--decor-elements-color);
  line-height: 1.4;
  font-weight: 400;
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 7px;
  inset-inline-end: -17px;
  background-color: var(--decor-elements-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-elements-color);
}

.header__theme-menu {
  justify-self: end;
  color: var(--button-theme-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 10px;
}

.header__theme-menu-button {
  all: unset;
  min-inline-size: 70px;
  min-block-size: 25px;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none
}

.header__title {
  justify-self: start;
  align-self: end;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.82;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--header-shadow-color);
}

.header__text {
  margin-block-start: 20px;
  line-height: 1.3;
  margin-block-end: 56px;
  align-self: end;
}

.section {
  margin-block-end: 50px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  padding-block-end: 20px;
  line-height: 1.3;
}

.section__article-item:not(:last-child) {
  padding-block-end: 20px;
}

.section__article {
  padding-block-start: 10px;
}

.section__article-title {
  color: var(--card-title-color);
  font-size: 18px;
  line-height: 1.3;
  margin-block-end: 10px;
}

.section__article-subtitle {
  font-weight: 400;
  line-height: 1.3;
  margin-block-end: 10px;
}

.section__article-text {
  color: var(--card-text-color);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.2px;
}

.section__article-link {
  text-underline-offset: 8%;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.section__container {
  display: grid;
  grid-template-columns: minmax(355px, 649px);
  gap: 10px 0;
}

.section__image {
  width: 100%;
}

.footer {
  min-block-size: 650px;
  display: grid;
}

.footer__title {
  align-self: center;
  justify-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.82;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--header-shadow-color);
}