/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono', sans-serif;
  --inline-page-padding: 10px;
  --block-page-padding: 10px;
  --background-color: #000028;

  --decor-elements-color: #FF0070;
  --accent-color: #FF0070;
  --button-theme-color: #FF0070; 
  --header-title-color: #DB00FF;
  --header-shadow-color: #FF0070;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-text-color: #F1B2CE;


  /* --accent-color: #FF0070;
  --primary-color: var(--accent-color);
  --header-title-color: #DB00FF;
  --card-title-color: #000028;
  --card-text-color: #F1B2CE;
  --title-shadow-color: #FF0070;
  --link-shadow-color: #FF0070; */
}

/* 
мб еще нужно сделать стили для фоновой картинки, чтобы сбросить отспупы (100% + 20px) и сдвинуть в сторону
добавить ширину шрифта и удалить из переменной фонт фэмили

поменять на эти свойства


--link-shadow-color: #FF0070;

*/