/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --background-image: url(./images/cover-image-dark.png);
  --decor-elements-color: #FF0070;
  --accent-color: #FF0070;
  --button-theme-color: #FF0070; 
  --header-title-color: #DB00FF;
  --header-shadow-color: #FF0070;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-text-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --inline-page-padding: 10px;
  --inline-block-padding: 10px;
}

/* 


добавить ширину шрифта и удалить из переменной фонт фэмили

*/

@media (min-width: 750px) {

  :root {
    --inline-page-padding: 20px;
    --inline-block-padding: 20px;
  }
}